[submodule "server/lib/forge-std"]
	path = server/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "server/lib/foundry-devops"]
	path = server/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
